@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "TommyBold";
    src: url(./assets/fonts/MADE_TOMMY_Bold_PERSONAL_USE.ttf);
  }

  @font-face {
    font-family: "BoldSans";
    src: url(./assets/fonts/PTSans-Bold.ttf);
  }

  @font-face {
    font-family: "RegularSans";
    src: url(./assets/fonts/PTSans-Regular.ttf);
  }